@{
    ViewData["Title"] = "Home Page";
}


<section class="wrapper-home">
    <div class="row">
        <div class="col-xl-6 left-wrapper">
            <h1 class="text-center landing-heading">Emp</h1>
            <h1 class="text-center landing-heading lines">Manager</h1>
        </div>
        <div class="col-xl-6 right-wrapper">
            <h3 class="text-center">Fastest Employee Management System!</h3>
        </div>
    </div>
</section>
<div class="wave layer"></div>

