@model EmpManager.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="card mt-5 shadow rounded mx-auto" style="width:400px">

        <div class="card-body p-4 ">
            <h2 class="card-title">@Model.Fullname</h2>
            <p class="card-text"><i class="bi bi-envelope-at"></i> <strong>Email:</strong> @Model.Email</p>
            <p class="card-text"><i class="bi bi-telephone"></i> <strong>Phone Number:</strong> @Model.Phonenumber</p>
            <div class=" btn-group pb-2 mt-3" role="group">
                <a asp-controller="Employees" asp-action="Index" class="btn btn-primary rounded-3 mx-2"><i class="bi bi-arrow-clockwise"></i> Back</a>
            </div>
        </div>
    </div>
</div>